**Apache Spark**
- Apache Spark is a fast and general-purpose cluster computing system.
- It provides high level APIs in Scala, Java and Python that make parallel jobs easy to write and an optimized engine that supports general computation graphs.

In [25]:
import pyspark

In [32]:
import pandas as pd
df = pd.read_excel("test1.xlsx")
df

    Name  Age
0  Krish   31
1  Marry   29
2  Raghu   30

In [48]:
data = pd.DataFrame({'Name':['Krish','Marry','Raghu'],'Age':[31,29,30]})
data

    Name  Age
0  Krish   31
1  Marry   29
2  Raghu   30

In [49]:
data.to_csv('test_pyspark.csv',index=False)

**Spark Session**

In [50]:
from pyspark.sql import SparkSession

In [51]:
PYSPARK_SUBMIT_ARGS="--master local[3] pyspark-shell"

In [52]:
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [53]:
sdf = spark.createDataFrame(df)
sdf

DataFrame[Name: string, Age: bigint]

**Read Dataset**

In [67]:
df_pyspark = spark.read.csv('test_pyspark.csv')

In [55]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [56]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|Krish| 31|
|Marry| 29|
|Raghu| 30|
+-----+---+

In [57]:
spark.read.option('header','true').csv('test_pyspark.csv')

DataFrame[Name: string, Age: string]

In [58]:
spark.read.option('header','true').csv('test_pyspark.csv').show()

+-----+---+
| Name|Age|
+-----+---+
|Krish| 31|
|Marry| 29|
|Raghu| 30|
+-----+---+

In [59]:
df_pyspark = spark.read.option('header','true').csv('test_pyspark.csv')

In [60]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [62]:
df_pyspark.head()

Row(Name='Krish', Age='31')

In [63]:
df_pyspark.head(2)

[Row(Name='Krish', Age='31'), Row(Name='Marry', Age='29')]

In [64]:
df_pyspark.printSchema

In [66]:
df_pyspark.printSchema() #kind of .info()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)